body {
  font-family:"Varela Round", sans-serif !important;
  display:table;
  width:100vw;
  height:100vh;
}
header {
  background-color:#34ace0;
  border-bottom:1px solid #28a1dc;
  color:#fff;
  padding:18px 16px 14px;
}
.btn.btn-primary {
	background-color:#34ace0;
	border-color:#28a1dc;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
	background-color:#2097da;
	border-color:#148ad8;
}
.btn.btn-primary.active,
.btn.btn-primary:active {
	background-color:#198fd8;
	border-color:#0f85d4;
}
a, .btn.btn-link {
	color:#34ace0;
}
.btn.btn-link.active,
.btn.btn-link:active,
.btn.btn-link:focus,
.btn.btn-link:hover {
	color:#0c80c4;
}
a:visited {
	color:#5cd8e8;
}
.form-checkbox input:checked+.form-icon {
	background-color:#34ace0;
	border-color:#34ace0;
}
.form-checkbox input:focus+.form-icon {
	border-color:#34ace0;
}

#hidden-text {
	height:0;
	overflow:hidden;
	visibility:hidden;
}

#canvas {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.navbar a, .navbar a:focus, .navbar a:hover {
	color:#fff;
}
#site-title {
  font-size:1.8em;
}
#interface-wrapper {
	display:table-cell;
	vertical-align:middle;
}
#interface {
	max-width:644px;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
}
#picker {
	max-width:290px;
}
#canvas-wrapper {
	margin:auto;
	width:282px;
/*	height:282px; */
	box-sizing:border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#canvas-header {
	padding-bottom:12px;
	font-size:18px;
}
#canvas {
	display:flex;
	flex-wrap:wrap;
	cursor:crosshair;
}
#canvas-footer {
	margin-top:12px;
	font-size:24px;
}
#canvas-footer span { 
	font-size:18px; 
}
#canvas-footer span, #canvas-footer i {
	cursor:pointer;
	position:relative;
	top:2px;
}
#canvas-footer span { 
	top:-2px; 
}
#canvas-footer i.inactive {
	opacity:0.5;
}
#canvas-footer span.icon-color { 
	opacity:0.5; 
}
#canvas-footer span.icon-color.selected { 
	opacity:1; 
}
#canvas .cell {
	display:inline-block;
	width:28px;
	height:28px;
	box-sizing:border-box;
	text-align:center;
	line-height:30px; /* 36px; */
	padding:2px 0 0 2px;
	box-shadow:
    1px 0 0 0 #a4a19a,
    0 1px 0 0 #a4a19a,
    1px 1px 0 0 #a4a19a,   /* Just to fix the corner */
    1px 0 0 0 #a4a19a inset,
    0 1px 0 0 #a4a19a inset;
}
#canvas .cell svg {
	pointer-events:none;
}
#canvas.using-svg .cell {
	line-height:36px;
}
#canvas.noGridLines .cell {
	box-shadow:none;
}
#canvas .cell>* {
	width:22px;
	height:22px;
}

#controls {
	background-color:#d1d8e0;
	color:#000;
	max-width:644px;
	margin:12px auto;
	padding:9px 16px 7px 16px;
	box-sizing:border-box;
}
#share-button {
	float:right;
	display:inline-block;
}
#controls .form-group>* {
	display:inline-block;
}

#share-modal-content {
	text-align:center;
	line-height:1.0;
}
.share-modal-cell {
	display:inline-block;
	width:24px;
	height:24px;
	padding:2px;
}
#share-modal-footer .btn {
	margin-left:12px;
}
#twitter-share {
	padding-top:3px;
	padding-left:0;
	padding-right:0;
}

.EmojiPanel__brand {
	visibility:hidden;
}

@media (min-width: 450px) and (min-height: 600px) {
  #interface {
    zoom: 1.25;
  }
}

@media (min-width: 600px) and (min-height: 800px) {
  #interface {
    zoom: 1.5;
  }
}