@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rqt2dh');
  src:  url('fonts/icomoon.eot?rqt2dh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rqt2dh') format('truetype'),
    url('fonts/icomoon.woff?rqt2dh') format('woff'),
    url('fonts/icomoon.svg?rqt2dh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-outline-brush-24px:before {
  content: "\e900";
}
.icon-outline-crop-24px:before {
  content: "\e901";
}
.icon-outline-delete-24px:before {
  content: "\e902";
}
.icon-outline-edit-24px:before {
  content: "\e903";
}
.icon-outline-format_color_fill-24px .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-outline-format_color_fill-24px .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.36;
}
.icon-outline-grid_off-24px:before {
  content: "\e906";
}
.icon-outline-grid_on-24px:before {
  content: "\e907";
}
.icon-outline-photo_camera-24px:before {
  content: "\e908";
}
.icon-outline-photo_size_select_small-24px:before {
  content: "\e909";
}
.icon-outline-redo-24px:before {
  content: "\e90a";
}
.icon-outline-save_alt-24px:before {
  content: "\e90b";
}
.icon-outline-save-24px:before {
  content: "\e90c";
}
.icon-outline-share-24px:before {
  content: "\e90d";
}
.icon-outline-undo-24px:before {
  content: "\e90e";
}
